{% extends 'base.html' %}
{% load static %}



{% block content %}
    <style>
        .index-searchform {
            position: fixed;
            left: 29%;
            top: 55%;

        }
    .logo-searchform{
            position: fixed;
            left: 35%;
            top: 10%;

        }


    </style>

    <img src="{% static 'img/logo.png' %}" height="300" width="300" class="logo-searchform">

        <form class="form-check-inline col-lg-5 col-md-6 index-searchform" method="get" action={% url 'search' %}>
            {{ form }}
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>

{% endblock %}