{% extends 'base.html' %}

{% block content %}
    <form method="post">
    <div class="form-row">
    <div class="form-group col-md-3">
      <input type="text" class="form-control" name="search_input" id="search_input" placeholder="Search">
    </div>
           <button class="btn btn-primary" type="submit">Search</button>
  </div>
    </form>
{% endblock %}



<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>News Finder</title>
</head>
<body>
<p>This is a template</p>
</body>
</html>
-->