{% extends 'base.html' %}
{% load static %}



{% block content %}
    <style>
        .position{
            text-align: center;
        }
        .index-searchform {
            position: relative;
            width:40%;
        }


    </style>

<div class="position" >

    <img src="{% static 'img/logo.png' %}" height="300" width="300">
<div>
    <form class="index-searchform form-check-inline" method="get" action={% url 'search' %}>
        {{ form }}
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    </div>
</div>

{% endblock %}